<%- include("partials/header") %>

<h1>Landing page</h1>

<p>Welcome to "Show Me Your Cat"</p>

<button class="btn btn-danger btn-lg">
  <a href="/cats">View All Our Cats</a>
</button>

<%- include("partials/footer") %>
