/* /views/cats/index.ejs */
#font-w {
  color: azure;
  opacity: 0.8;
}

#bg-img {
  background-image: url('https://images.unsplash.com/photo-1494256997604-768d1f608cac?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

span {
  color: #f39c12;
}

#border {
  border-bottom: 5px solid darkgray;
}

/* views/cats/show.ejs */
#margin-auto {
  margin-left: auto;
  margin-right: auto;
}

#inline {
  display: inline;
}

/* login.ejs */
#basic {
  position: relative;
  text-align: center;
}
